@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;400&display=swap');


header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: 3em;
}

body{ font-family: 'Open Sans', sans-serif;
    background: color #f3f3f3;
}

#First {
    padding-top: 120px; /* Aggiungi qui la quantità di spazio desiderata */
}

#SecondSection{
    padding-top: 120px; /* Aggiungi qui la quantità di spazio desiderata */
}

#ThirdSection {
    padding-top: 120px; /* Aggiungi qui la quantità di spazio desiderata */
}

#images {
    display: flex;
    justify-content: center; /* Centra orizzontalmente gli elementi all'interno del container */
    align-items: center; /* Centra verticalmente gli elementi all'interno del container */
    gap: 10px; 
    padding-top: 50px;
    
}

#images img {
    width: 70%;
    max-width: 300px;
    border: 1px solid black;
  
}

#images2 {
    display: flex;
    justify-content: center; /* Centra orizzontalmente gli elementi all'interno del container */
    align-items: center; /* Centra verticalmente gli elementi all'interno del container */
    gap: 10px; /* Aggiunge uno spazio tra le immagini */
    padding-top: 30px;
}

#images2 img {
    width: 70%; /* Ridimensiona le immagini al 30% della larghezza del div */
    max-width: 600px; 
    border: 1px solid black; 
}
#images3 {
    display: flex;
    justify-content: center; /* Centra orizzontalmente gli elementi all'interno del container */
    align-items: center; /* Centra verticalmente gli elementi all'interno del container */
    gap: 10px; /* Aggiunge uno spazio tra le immagini */
    padding-top: 20px;
}

#images3 img {
    width: 70%; 
    max-width: 300px;
    border: 1px solid black; 
}

a {
    display: inline-block; /* Rende il link simile a un bottone */
    background-color: #f3f3f3; /* Colore di sfondo blu */
    color: rgb(0, 0, 0); /* Colore del testo bianco */
    text-align: center; /* Centra il testo all'interno del link */
    padding: 10px 20px; /* Aggiunge spazio intorno al testo per fare spazio */
    border: 2px solid black; /* Aggiunge un bordo trasparente (che può cambiare colore su hover) */
    text-decoration: none; /* Rimuove la sottolineatura dal link */
    transition: background-color 0.3s, border-color 0.3s; /* Aggiunge una transizione per il colore di sfondo e bordo */
}
a:hover, a:focus {
    background-color: #c0babf; /* Cambia il colore di sfondo quando il mouse è sopra o il link è focalizzato */
    border-color: #000000; /* Cambia il colore del bordo quando il mouse è sopra o il link è focalizzato */
}
#Text h2 {
    position: relative; /* Imposta la posizione relativa per permettere l'allineamento assoluto del testo */
}

#Text .right-aligned {
padding-left: 155px;
}



